<section>
    <article>
        <div>
            <h3>User list</h3>
            <ul ng-repeat="user in userCtrl.list">
                <li ng-class="{'bg-info':user.active, 'bg-warning':!user.active}">
                    <p>
                        <h4>{{user.compute.username}}</h4>
                        <h5>{{user.email}}</h5>
                        <span>Member since : {{user.compute.date | date:'MM/dd/yyyy'}}</span>
                    </p>
                    <p>
                        <button class="btn btn-danger" ng-click="userCtrl.deleteUser(user._id)">
                            <i class="glyphicon glyphicon-remove"></i>
                            <span>Delete Account</span>
                        </button>
                        <button class="btn" ng-class="{'btn-success':!user.active}" ng-click="userCtrl.activeUser(user._id, user.active)">
                            <i class="glyphicon" ng-class="{'glyphicon-eye-close':user.active, 'glyphicon-eye-open':!user.active}"></i>
                            <span ng-hide="user.active">Activate Account</span>
                            <span ng-show="user.active">Deactivate Account</span>
                        </button>
                    </p>
                    <span class="alert alert-info" ng-show="user.active">
                        <i class="glyphicon glyphicon-exclamation-sign"></i>
                        Deleting a user will reattribute his/her article(s) to admin
                    </span>
                </li>
            </ul>
        </div>
        <div ng-show="userCtrl.list.length === 0">
            <span>There's currently no other user other than admin</span>
        </div>
    </article>
</section>